In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

data = pd.read_csv("heart.csv")

In [2]:
data.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [3]:
data.tail(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [4]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [5]:
heartdisease_true_count = len(data.loc[data['target'] == 1])
heartdisease_false_count = len(data.loc[data['target'] == 0])

In [6]:
print(heartdisease_true_count,heartdisease_false_count)

526 499

In [7]:
data['target'].value_counts()

1    526
0    499
Name: target, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split
feature_columns = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach','exang','oldpeak','slope','ca','thal']
predicted_class = ['target']

In [9]:
X = data[feature_columns].values
y = data[predicted_class].values

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state=10)

In [11]:
from sklearn.ensemble import RandomForestClassifier
random_forest_model = RandomForestClassifier(random_state=10)

random_forest_model.fit(X_train, y_train.ravel())

predict_train_data = random_forest_model.predict(X_test)

from sklearn import metrics

print("Accuracy = {0:.3f}".format(metrics.accuracy_score(y_test, predict_train_data)))

Accuracy = 0.961

In [13]:
import pickle

In [14]:
filename='heart_disease_model.sav'
pickle.dump(random_forest_model,open(filename,'wb'))

In [15]:
loaded_model=pickle.load(open('heart_disease_model.sav','rb'))

In [ ]:
##taking input from user
age=int(input("Enter age:"))
sex=int(input("Enter sex:"))
cp=int(input("Enter cp:"))
trestbps=int(input("Enter trestbps:"))
chol=int(input("Enter chol:"))
fbs=int(input("Enter fbs:"))
restecg=int(input("Enter restecg:"))
thalach=int(input("Enter thalach:"))
exang=int(input("Enter exang:"))
oldpeak=float(input("Enter oldpeak:"))
slope=int(input("Enter slope:"))
ca=int(input("Enter ca:"))
thal=int(input("Enter thal:"))

user_input=[age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal]

result=random_forest_model.predict([user_input])[0]

if(result==1):
    print("Patient is at a risk of heart disease")
else:
    print("Patient is not at a risk of heart disease")